<div>
  <aside>
    <section>
    <h1><%= @user.name %>のフォロー・フォロワー一覧</h1>
    </section>
    <section>
    <%= render 'stats' %>
    <% if @users.any? %>
      <div>
      <% @users.each do |user| %>
      <% end %>
      </div>
      <% end %>
      </section>
      </aside>
   <div>
     <h3><%= @title %></h3>
         <% if @users.any? %>
           <ul>
         <%= will_paginate @users %>
         </ul>
          <% end %>
     </div>
</div>


